@model LawBringer.Models.Receipt
@{
    ViewBag.Title = "Receipt";
}
<div class="row">
    <div class="col-xs-12 col-sm-8">
        <div class="jumbotron">
            <h1>Thank You for your purchase</h1>
            <h2>@Model.Total</h2>
            <p class="lead">Your Lawyer will be contacting you within the next 10 minutes!</p>
            <img class="img-circle img-responsive" src="@Model.Image"/>
        </div>
    <p>@Model.OrderNumber</p>
</div>
</div>
