@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This ASP.NET Web Application is being used to showcase my knowledge and skills of .Net Web Development and creativity.</p>
<p></p>
