@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This ASP.NET Web Application is being used to showcase my knowledge and skills on Web Development and creativity.</p>
<p>Even though this site will never go live, its showing i am able to identify a problem and attempt to create a solution via applications.</p>
