@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid" style="background-size: cover; background-image: url('../../Images/Home-BG2.png'); height: 500px;">
    <div class="jumbotron" id="Jumbo2" >
        <h1 >Law Doggs </h1>
        <p>Because the Law can be "RUFF"</p>
        <p><a class="btn btn-warning btn-lg visible-md-block visible-lg-block" id="buttonHomePg" role="button" href=/Lawyer/List>Contact Your Lawyer Now</a></p>
        <img src="~/Images/dog-graphics-bulldog-151127.gif"/>
    </div>
</div>
<div class="row" id="rowhome">
    <div class="col-md-6 text-center" id="homecol" >
        <div class="well" id="well2" >
            <h2 style="color:rgb(255,255,255);">Learn More about us!</h2>
            <p style="color:rgb(255,255,255);">Its important to learn about where we started</p>
            <p><a href=/Home/About/><img src="~/Images/Home-Icon-LearnMore.png" style="height: 110px;" /></a></p>        
        </div>
    </div>
    <div class="col-md-6  text-center" id="homecol">
        <div class="well" id="well1">
            <h2 style="color:rgb(255,255,255);">Contact</h2>
            <p style="color:rgb(255,255,255);">Feel free to contact us with any questions</p>
            <p><a href=/Home/Contact/><img src="~/Images/79102-200.png" style="height: 110px;"/></a></p>
        </div>
    </div>
</div>


