@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    <div class="jumbotron text-center" id="jumbo1"  >
        <div class="row">
            <div class="col">
                <h1>LawDoggs</h1>
                <p class="lead"> Here to help, because the law can be "RUFF"</p>
                <p><a href=/Lawyer/List class="btn btn-warning btn-lg">Learn more &raquo;</a></p>
            </div>          
                <img src="~/Images/dog-graphics-bulldog-151127.gif" />          
          </div>
        </div>
   
</div>
<div class="row">
    <div class="col-md-4 pull-left">
        <h2>Learn More about us!</h2>
        <p>Its important to learn about where we started</p>
        <p><a class="btn btn-default" href=/Home/About/>Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4 pull-right text-right">
        <h2>See our Reviews</h2>
        <p>Check out the reviews from our current users</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
