@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>LawDoggs</h1>
    <p class="lead"> Here to help, because the law can be "RUFF"</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            LawDoggs takes the stress out of going to court and dealing with the legal system
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>View Our Lawyer group</h2>
        <p>Here you will find our top rated Lawyers who are ready to help at the click of your mouse.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>See our Reviews</h2>
        <p>Check out the reviews from our current users</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>