@model IEnumerable<LawBringer.Models.Lawyer>
@{
    ViewBag.Title = "List";
}

<h1 class="text-center">Lawyer Group</h1>
<div class="row">
    @foreach (var lawyer in Model)
    {        
            <div class="col-xs-4">
                 <div class="panel panel-default" style="background:inherit">           
                <div class="panel-body">
                    <h2 class="text-center">@lawyer.Name</h2>
                    <p><img class=" img-responsive img-circle center-block" src="@lawyer.Image"/></p>
                    @Html.ActionLink("Find Out more", "Index", new { ID = lawyer.Id }, new { @class = "btn btn-warning btn-lg btn-block" })
                </div>
            </div>
        </div>
    }
</div>

