
@{
    ViewBag.Title = "Forgot Password Sent";
}

<h2>ForgotPasswordSent</h2>

<p>
    <div id="registerbody">
        <div class="well text-center">
            We've sent you an email with instructions on resetting your password.
            @Html.ActionLink("Go to home page", "Index", "Home")
            </div>
        </div>
</p>
