
@{
    ViewBag.Title = "Forgot Password Sent";
}

<h2>ForgotPasswordSent</h2>

<p>
    We've sent you an email with instructions on resetting your password.
    @Html.ActionLink("Go to home page", "Index", "Home")
</p>
