
@{
    ViewBag.Title = "Password Recovery";
}

<h2>Recover Your Password</h2>
@using (Html.BeginForm())
{
    <p>Enter The email associated with your account</p>
    <div>
        <label for="email">Email Address</label>
        <input type="email" name="email" required />
    </div>
    <input type="submit"  class="btn btn-warning btn-lg" />
}


