
@{
    ViewBag.Title = "ResetPassword";
}

<h2>ResetPassword</h2>
@using (Html.BeginForm())
{
    <div id="registerbody">
        <div class="well text-center">
            <label for="newPassword">New Password</label>
            <input type="password" name="newPassword" id="registerbody" />
            <input type="submit" value="Reset" class="btn btn-warning btn-lg" />
            </div>
        </div>
    }